<div class="upload-file">
	<div class="panel panel-default">
		<div class="panel-heading"><b>Загрузить Файл</b></div>
		<div class="panel-body">
			<div class="fileLoadBox">
				<form id="addFileForm" role="form" method="POST" enctype="multipart/form-data">
					<div class="form-group">
						<input name="image" type="file" id="imageFile">
						<p class="help-block">Выберите файл...</p>
						<div class="path">
							<b>Загрузить в:</b> <input class="path-input" type="text" value="/text/text/test/asdasd/asdasdas/dasdasdasd/asdasdasd/asdasdasd/asdasdasd/asdasdasd/asdadsasd" disabled="true"/>
						</div>
					</div>
					<div class="form-group">
						<button type="button" class="btn btn-default furnitureAddImage">Добавить</button>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>