body {
  margin: 0;
  padding: 0;
}
.container {
  margin: auto;

}
.page {
  margin-top: 20px;
  padding-top: 20px;
  position: relative;
}

.sideBar {
  position: absolute;
  width: 150px;
  left: -200px;
  top: 32px;
}

.content {
  left: 200px;
  top: 0;
}

.toolbar {
  margin-bottom: 10px;
}