body {
  margin: 0;
  padding: 0;
}
.container {
  margin: auto;
  width: 400px; 
}
.page {
  display: box;
  display: -webkit-box;
  box-orient: horizontal;
  -webkit-box-orient: horizontal;
  margin: 10px 0 10px 0;
}

.sideBar {
	margin-right: 20px; 
}
