<div>
	<h4>Tabs view</h4>
	<div class="toolbar btn-toolbar" role="toolbar">
		<div class="btn-group">
			<a class="btn btn-default" href="#/setup/tabEdit/-1">New</a>
		</div>
	</div>
	<table class="table table-hover">
		<tr>
			<th>ID</th>
			<th>NAME</th>
			<th>LABEL</th>
			<th>LINK</th>
			<th>VIEW</th>
			<th>ACTION</th>
		</tr>
		<% _.each( tabs,  function( tab ) { %>
			<tr>
				<td><%= tab.id %></td>
				<td><%= tab.name %></td>
				<td><%= tab.label %></td>
				<td><%= tab.link %></td>
				<td><%= tab.view %></td>
				<td><a href='#/setup/tabView/<%=tab.id%>'>View</a> <a href='#/setup/tabEdit/<%=tab.id%>'>Edit</a></td>
			</tr>
		<% });%>
	</table>
</div>