<div class="header">
	<nav class="navbar navbar-default" role="navigation">
		<div class="container-fluid">
			<ul class="nav navbar-nav navbar-right">
				<li><a href="/logout"><span style="font-size: 19px">LOG OUT </span> <span class="glyphicon glyphicon-log-out"></a></li>
			</ul>
		</div>
	</nav>
	<div class="page-header">
  		<h1>lynx <small><a href="#/setup"><span class="glyphicon glyphicon-th-list"></span></a></small></h1>
	</div>
	<div class="menu">
		<ul id="tabMenu" class="nav nav-pills">
			<% _.each( tabs, function( tab ) { %>
				<li value="<%= tab.name %>"><a href="<%= tab.link%>"><%= tab.label%></a></li>
			<% });%>
		</ul>
	</div>
</div>
<div class="page">
	<div class="sideBar"></div>
	<div class="content"></div>
</div>
<div class="footer"></div>
