<div>
	<div class="panel panel-default">
		<div class="panel-heading">Furniture: <%= furniture.label %></div>
		<div class="panel-body">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label for="furnitureLabel" class="col-sm-2 control-label">Label</label>
					<div class="col-sm-5">
						<input name="label" class="form-control" id="furnitureLabel" type="text" value="<%= furniture.label %>">
					</div>
				</div>
				<% if ( furniture.id && (furniture.id != -1) ) { %>
					<div class="form-group">
						<label for="categoryListCont" class="col-sm-2 control-label">Categories</label>
						<div id="categoryListCont" class="categoryList col-sm-5">
							<% _.each( categories, function( category ) { %>
								<span class="category label label-info"><%= category.name %> <a class="deleteLink" categoryId="<%= category.id %>" href=""><span class="glyphicon glyphicon-remove"></span></a></span> 
							<% }); %>
							<a href="" id="addCategoryButton" style="text-decoration : none; color : #000;"><span class="glyphicon glyphicon-plus"></span></a>
						</div>
					</div>
				<% } %>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-5">
						<input class="furnitureSaveButton btn btn-success" type="button" value="Save">
					</div>
				</div>
			</form>
		</div>
	</div>
</div>