<div>
	<h3><%= furniture.label %></h3>
	<div>Content place <%= furniture.id %> </div>
	<% if (furniture.id) { %> 
		<div class="panel panel-default">
			<div class="panel-heading">Image Loder</div>
			<div class="panel-body">
				<form id="addImageForm" class="form-horizontal" role="form" method="POST" enctype="multipart/form-data">
					<div class="col-sm-offset-2" >
							<div class="form-group">
							<label for="imageFile">Image</label>
							<input name="image" type="file" id="imageFile">
							<p class="help-block">Image for object.</p>
						</div>
					</div>
					<div class="col-sm-offset-2">
						<button type="button" class="btn btn-default furnitureAddImage">Add Image</button>
					</div>
				</form>
			</div>
		</div>
		<% if ( pictures.length > 0 ) { %>
			<div class="panel panel-default">
				<div class="panel-heading">Images</div>
				<div class="panel-body">
					<% _.each( pictures, function( picture ) { %>
						<div class="media">
							<a class="pull-left" href="#">
								<img class="media-object img-thumbnail" src="<%= picture.path %>" alt="<%= picture.name %>" >
							</a>
							<div id="picture-<%= picture.id %>">
								
							</div>
						</div>
					<% });%>
				</div>
			</div>
		<% } %>
	<% }%>
</div>