<div>
	<div class="panel panel-default">
		<div class="panel-heading">Furniture: <%= furniture.label %></div>
		<div class="panel-body">
			<form class="form-horizontal" role="form">
				<div class="form-group">
					<label for="furnitureLabel" class="col-sm-2 control-label">Label</label>
					<div class="col-sm-5">
						<input name="label" class="form-control" id="furnitureLabel" type="text" value="<%= furniture.label %>">
					</div>
				</div>
				<div class="form-group">
					<div class="col-sm-offset-2 col-sm-5">
						<input class="furnitureSaveButton" type="button" value="Save">
					</div>
				</div>
			</form>
			<div class="categoryList">
				<h3>Categories: </h3>
				<% _.each( categories, function( category ) { %>
					<span class="category"><%= category.name %>;</span>
				<% }); %>
			</div>
		</div>
	</div>
</div>