<div>
	<h3><%= profile.label %></h3>
	<div>
		<div class="panel panel-default">
			<div class="panel-heading">Системные</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Возможность</th>
							<th>Доступ</th>
						</tr>
					</thead>
					<tbody>
						<% _.each( scheme.system, function( permisstion ) { %>
							<tr>
								<td><%= permisstion.name %></td>
								<td class="col-sm-2">
									<% _.each( permisstion.values, function( value ) { %>
										<div class="checkbox">
											<label><input name="<%= permisstion.name %>" type="checkbox" value="<%= value %>" 
											              <% if ( viewHalper.getPermissionValue( permisstion, permissionSet, 'system', value ) ) { %> checked <% } %>> <%= value %> </label>
										</div>
									<% }); %>
								</td>
							</tr>
						<% }); %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Табы</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>NAME</th>
							<th>VISIBLE</th>
						</tr>
					</thead>
					<tbody>
						<% _.each( tabList, function( tab ) { %>
							<tr>
								<td><%= tab.label %></td>
								<td class="col-sm-2">
									<input name="tabs" type="checkbox" value="<%= tab.id %>" <% if (tab.visible) { %> checked <% } %>>
								</td>
							</tr>
						<%	}); %>
					</tbody>
				</table>
			</div>
		</div>
		<div class="panel panel-default">
			<div class="panel-heading">Таблицы</div>
			<div class="panel-body">
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Возможность</th>
							<th>Доступ</th>
						</tr>
					</thead>
					<tbody>
						<% _.each( scheme.tables, function( permisstion ) { %>
							<tr>
								<td><%= permisstion.name %></td>
								<td class="col-sm-2">
									<% _.each( permisstion.values, function( value ) { %>
										<div class="checkbox">
											<label><input name="<%= permisstion.name %>" type="checkbox" value="<%= value %>" 
											              <% if ( viewHalper.getPermissionValue( permisstion, permissionSet, 'tables', value ) ) { %> checked <% } %>> <%= value %> </label>
										</div>
									<% }); %>
								</td>
							</tr>
						<% }); %>
					</tbody>
				</table>
			</div>
		</div>
		<button class="profileSaveButton btn btn-default" type="button">Save</button>
	</div>
</div>